<aside class="nav-container">
  <nav>
    <div class="nav-content">
      <ul class="left">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="right">
        <li><a href="/diary">Diários</a></l>
        <li><a href="/register">Cadastre-se</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</aside>