<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="form-container">
  <form class="form-content register-form" action="/register/register" method="POST">
    <div class="form-item">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" placeholder="seu nome de usuário" required>
    </div>
    <div class="form-item">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-item">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" placeholder="seuemail@email.com" required>
    </div>
    <div class="form-item">
      <button type="submit">Cadastre-se</button>
    </div>
  </form>
</div>

<%- include('./includes/footer') %>